.App {
  text-align: center;
}

.logo-image {
  height: 2vmin;
  pointer-events: none;
  float: left;
}
main{
  margin-top: 110px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* ヘッダーの編集*/
header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}


.header-left {
  float: left;
  margin-top: 20px;
  color: white;
  font-size: 20px;
}

.mypage{
  color:azure
}

/* フッターの編集*/
footer {
  height: 200px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: absolute;
  bottom: 0;
  z-index: 10;
}
.footer-menu {
  color: white;
}

/* 遷移後ページ*/

.item{
  text-align: left;
  margin-left: 10%;
}

.list{
  text-align: left;
  margin-left: 15%;
}